Source: nimv
Section: devel
Priority: optional
Maintainer: Eric Mastro <nimv-ppa@fakey.me>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0
Rules-Requires-Root: no

Package: nimv
Architecture: all
Depends: ${misc:Depends}, git, curl
Description: Nim version manager
 A tool to manage multiple versions of the Nim programming language.
 Allows installation and switching between different Nim versions.

